In [1]:
from kafka import KafkaConsumer, KafkaProducer
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
import json
import pandas as pd

In [2]:
spark = (
    SparkSession.builder.master("local[1]")
    .appName("Data Transformation")
    .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.3.1")
    .getOrCreate()
)

In [3]:
spark

In [4]:
titanic_schema = T.StructType([
    T.StructField("Timestamp", T.TimestampType(), True),
    T.StructField("string_columns", T.StructType([
        T.StructField("Name", T.StringType(), True),
        T.StructField("Sex", T.StringType(), True),
        T.StructField("Age", T.StringType(), True),
        T.StructField("Ticket", T.StringType(), True),
        T.StructField("Fare", T.StringType(), True),
        T.StructField("Embarked", T.StringType(), True)
    ]), True),
    T.StructField("numeric_columns", T.StructType([
        T.StructField("PassengerId", T.IntegerType(), True),
        T.StructField("Survived", T.IntegerType(), True),
        T.StructField("Pclass", T.IntegerType(), True),
        T.StructField("SibSp", T.IntegerType(), True),
        T.StructField("Parch", T.IntegerType(), True)
    ]), True)
])

In [5]:
df = spark \
  .read \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("subscribe", "topic_nested") \
  .option("failOnDataLoss", "true") \
  .load()
df.printSchema()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

In [6]:
df= df.withColumn("message_content", F.from_json(F.col("value").cast("string"), titanic_schema))
df_minimal = df.select("message_content.*")

In [7]:
df_minimal.show()

+-------------------+--------------------+----------------+
|          Timestamp|      string_columns| numeric_columns|
+-------------------+--------------------+----------------+
|2020-01-01 13:45:25|{Braund, Mr. Owen...| {1, 0, 3, 1, 0}|
|2020-01-01 13:44:48|{Cumings, Mrs. Jo...| {2, 1, 1, 1, 0}|
|2020-01-01 13:38:11|{Heikkinen, Miss....| {3, 1, 3, 0, 0}|
|2020-01-01 13:32:00|{Futrelle, Mrs. J...| {4, 1, 1, 1, 0}|
|2020-01-01 13:36:30|{Allen, Mr. Willi...| {5, 0, 3, 0, 0}|
|2020-01-01 13:31:39|{Moran, Mr. James...| {6, 0, 3, 0, 0}|
|2020-01-01 13:37:31|{McCarthy, Mr. Ti...| {7, 0, 1, 0, 0}|
|2020-01-01 13:49:08|{Palsson, Master....| {8, 0, 3, 3, 1}|
|2020-01-01 13:33:42|{Johnson, Mrs. Os...| {9, 1, 3, 0, 2}|
|2020-01-01 13:32:53|{Nasser, Mrs. Nic...|{10, 1, 2, 1, 0}|
|2020-01-01 13:32:23|{Sandstrom, Miss....|{11, 1, 3, 1, 1}|
|2020-01-01 13:30:12|{Bonnell, Miss. E...|{12, 1, 1, 0, 0}|
|2020-01-01 13:33:34|{Saundercock, Mr....|{13, 0, 3, 0, 0}|
|2020-01-01 13:30:20|{Andersson, Mr. A...|{14, 0, 3, 1, 5}|
|2020-01-01 13:41:17|{Vestrom, Miss. H...|{15, 0, 3, 0, 0}|
|2020-01-01 13:34:22|{Hewlett, Mrs. (M...|{16, 1, 2, 0, 0}|
|2020-01-01 13:41:55|{Rice, Master. Eu...|{17, 0, 3, 4, 1}|
|2020-01-01 13:39:35|{Williams, Mr. Ch...|{18, 1, 2, 0, 0}|
|2020-01-01 13:39:38|{Vander Planke, M...|{19, 0, 3, 1, 0}|
|2020-01-01 13:36:56|{Masselmani, Mrs....|{20, 1, 3, 0, 0}|
+-------------------+--------------------+----------------+
only showing top 20 rows

In [16]:
new_df= df_minimal.select("Timestamp","string_columns.Name","string_columns.Sex","string_columns.Age","string_columns.Ticket","string_columns.Fare","string_columns.Embarked","numeric_columns.PassengerId","numeric_columns.Survived","numeric_columns.Pclass","numeric_columns.SibSp","numeric_columns.Parch")

In [17]:
new_df.show()

+-------------------+--------------------+------+----+----------------+-------+--------+-----------+--------+------+-----+-----+
|          Timestamp|                Name|   Sex| Age|          Ticket|   Fare|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+-------------------+--------------------+------+----+----------------+-------+--------+-----------+--------+------+-----+-----+
|2020-01-01 13:45:25|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25|       S|          1|       0|     3|    1|    0|
|2020-01-01 13:44:48|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|       C|          2|       1|     1|    1|    0|
|2020-01-01 13:38:11|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925|       S|          3|       1|     3|    0|    0|
|2020-01-01 13:32:00|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1|       S|          4|       1|     1|    1|    0|
|2020-01-01 13:36:30|Allen, Mr. Willia...|  male|  35|          373450|   8.05|       S|          5|       0|     3|    0|    0|
|2020-01-01 13:31:39|    Moran, Mr. James|  male|null|          330877| 8.4583|       Q|          6|       0|     3|    0|    0|
|2020-01-01 13:37:31|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|       S|          7|       0|     1|    0|    0|
|2020-01-01 13:49:08|Palsson, Master. ...|  male|   2|          349909| 21.075|       S|          8|       0|     3|    3|    1|
|2020-01-01 13:33:42|Johnson, Mrs. Osc...|female|  27|          347742|11.1333|       S|          9|       1|     3|    0|    2|
|2020-01-01 13:32:53|Nasser, Mrs. Nich...|female|  14|          237736|30.0708|       C|         10|       1|     2|    1|    0|
|2020-01-01 13:32:23|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|       S|         11|       1|     3|    1|    1|
|2020-01-01 13:30:12|Bonnell, Miss. El...|female|  58|          113783|  26.55|       S|         12|       1|     1|    0|    0|
|2020-01-01 13:33:34|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05|       S|         13|       0|     3|    0|    0|
|2020-01-01 13:30:20|Andersson, Mr. An...|  male|  39|          347082| 31.275|       S|         14|       0|     3|    1|    5|
|2020-01-01 13:41:17|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542|       S|         15|       0|     3|    0|    0|
|2020-01-01 13:34:22|Hewlett, Mrs. (Ma...|female|  55|          248706|   16.0|       S|         16|       1|     2|    0|    0|
|2020-01-01 13:41:55|Rice, Master. Eugene|  male|   2|          382652| 29.125|       Q|         17|       0|     3|    4|    1|
|2020-01-01 13:39:35|Williams, Mr. Cha...|  male|null|          244373|   13.0|       S|         18|       1|     2|    0|    0|
|2020-01-01 13:39:38|Vander Planke, Mr...|female|  31|          345763|   18.0|       S|         19|       0|     3|    1|    0|
|2020-01-01 13:36:56|Masselmani, Mrs. ...|female|null|            2649|  7.225|       C|         20|       1|     3|    0|    0|
+-------------------+--------------------+------+----+----------------+-------+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [18]:
df_remove_duplicates = new_df.dropDuplicates()
df_remove_duplicates.show()

+-------------------+--------------------+------+----+-----------------+--------+--------+-----------+--------+------+-----+-----+
|          Timestamp|                Name|   Sex| Age|           Ticket|    Fare|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+-------------------+--------------------+------+----+-----------------+--------+--------+-----------+--------+------+-----+-----+
|2020-01-01 13:46:21|"Lovell, Mr. John...|  male|  20|        A/5 21173|    7.25|       S|        228|       0|     3|    0|    0|
|2020-01-01 13:36:37|Cardeza, Mr. Thom...|  male|  36|         PC 17755|512.3292|       C|        680|       1|     1|    0|    1|
|2020-01-01 13:36:29|Alexander, Mr. Wi...|  male|  26|             3474|  7.8875|       S|        811|       0|     3|    0|    0|
|2020-01-01 13:39:42|    Calic, Mr. Petar|  male|  17|           315086|  8.6625|       S|        501|       0|     3|    0|    0|
|2020-01-01 13:32:00|Futrelle, Mrs. Ja...|female|  35|           113803|    53.1|       S|          4|       1|     1|    1|    0|
|2020-01-01 13:40:15|"Parkes, Mr. Fran...|  male|null|           239853|     0.0|       S|        278|       0|     2|    0|    0|
|2020-01-01 13:34:35|Jansson, Mr. Carl...|  male|  21|           350034|  7.7958|       S|        392|       1|     3|    0|    0|
|2020-01-01 13:41:31|    Flynn, Mr. James|  male|null|           364851|    7.75|       Q|        429|       0|     3|    0|    0|
|2020-01-01 13:30:12|  Richard, Mr. Emile|  male|  23|    SC/PARIS 2133| 15.0458|       C|        136|       0|     2|    0|    0|
|2020-01-01 13:32:38|Goodwin, Master. ...|  male|   1|          CA 2144|    46.9|       S|        387|       0|     3|    5|    2|
|2020-01-01 13:46:16|  Gale, Mr. Shadrach|  male|  34|            28664|    21.0|       S|        406|       0|     2|    1|    0|
|2020-01-01 13:36:12|Kallio, Mr. Nikol...|  male|  17|STON/O 2. 3101274|   7.125|       S|        434|       0|     3|    0|    0|
|2020-01-01 13:32:29|Daly, Mr. Eugene ...|  male|  29|           382651|    7.75|       Q|        511|       1|     3|    0|    0|
|2020-01-01 13:48:27| Moor, Master. Meier|  male|   6|           392096|  12.475|       S|        752|       1|     3|    0|    1|
|2020-01-01 13:42:18|Guggenheim, Mr. B...|  male|  46|         PC 17593|    79.2|       C|        790|       0|     1|    0|    0|
|2020-01-01 13:40:34|Carter, Rev. Erne...|  male|  54|           244252|    26.0|       S|        250|       0|     2|    1|    0|
|2020-01-01 13:36:16|Becker, Miss. Mar...|female|   4|           230136|    39.0|       S|        619|       1|     2|    2|    1|
|2020-01-01 13:42:07|        Lam, Mr. Ali|  male|null|             1601| 56.4958|       S|        693|       1|     3|    0|    0|
|2020-01-01 13:39:32|Barbara, Miss. Sa...|female|  18|             2691| 14.4542|       C|        703|       0|     3|    0|    1|
|2020-01-01 13:41:46|   Wells, Miss. Joan|female|   4|            29103|    23.0|       S|        751|       1|     2|    1|    1|
+-------------------+--------------------+------+----+-----------------+--------+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [19]:
Num_duplicates_dropped=new_df.count() - df_remove_duplicates.count()

In [21]:
Num_duplicates_dropped

891

In [22]:
drop_null_df=df_remove_duplicates.na.drop(subset=["Age","Embarked"])

In [23]:
drop_null_df.show()

+-------------------+--------------------+------+---+-----------------+--------+--------+-----------+--------+------+-----+-----+
|          Timestamp|                Name|   Sex|Age|           Ticket|    Fare|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+-------------------+--------------------+------+---+-----------------+--------+--------+-----------+--------+------+-----+-----+
|2020-01-01 13:46:21|"Lovell, Mr. John...|  male| 20|        A/5 21173|    7.25|       S|        228|       0|     3|    0|    0|
|2020-01-01 13:36:37|Cardeza, Mr. Thom...|  male| 36|         PC 17755|512.3292|       C|        680|       1|     1|    0|    1|
|2020-01-01 13:36:29|Alexander, Mr. Wi...|  male| 26|             3474|  7.8875|       S|        811|       0|     3|    0|    0|
|2020-01-01 13:39:42|    Calic, Mr. Petar|  male| 17|           315086|  8.6625|       S|        501|       0|     3|    0|    0|
|2020-01-01 13:32:00|Futrelle, Mrs. Ja...|female| 35|           113803|    53.1|       S|          4|       1|     1|    1|    0|
|2020-01-01 13:34:35|Jansson, Mr. Carl...|  male| 21|           350034|  7.7958|       S|        392|       1|     3|    0|    0|
|2020-01-01 13:30:12|  Richard, Mr. Emile|  male| 23|    SC/PARIS 2133| 15.0458|       C|        136|       0|     2|    0|    0|
|2020-01-01 13:32:38|Goodwin, Master. ...|  male|  1|          CA 2144|    46.9|       S|        387|       0|     3|    5|    2|
|2020-01-01 13:46:16|  Gale, Mr. Shadrach|  male| 34|            28664|    21.0|       S|        406|       0|     2|    1|    0|
|2020-01-01 13:36:12|Kallio, Mr. Nikol...|  male| 17|STON/O 2. 3101274|   7.125|       S|        434|       0|     3|    0|    0|
|2020-01-01 13:32:29|Daly, Mr. Eugene ...|  male| 29|           382651|    7.75|       Q|        511|       1|     3|    0|    0|
|2020-01-01 13:48:27| Moor, Master. Meier|  male|  6|           392096|  12.475|       S|        752|       1|     3|    0|    1|
|2020-01-01 13:42:18|Guggenheim, Mr. B...|  male| 46|         PC 17593|    79.2|       C|        790|       0|     1|    0|    0|
|2020-01-01 13:40:34|Carter, Rev. Erne...|  male| 54|           244252|    26.0|       S|        250|       0|     2|    1|    0|
|2020-01-01 13:36:16|Becker, Miss. Mar...|female|  4|           230136|    39.0|       S|        619|       1|     2|    2|    1|
|2020-01-01 13:39:32|Barbara, Miss. Sa...|female| 18|             2691| 14.4542|       C|        703|       0|     3|    0|    1|
|2020-01-01 13:41:46|   Wells, Miss. Joan|female|  4|            29103|    23.0|       S|        751|       1|     2|    1|    1|
|2020-01-01 13:38:48|Carter, Mrs. Will...|female| 36|           113760|   120.0|       S|        764|       1|     1|    1|    2|
|2020-01-01 13:31:47| Webber, Miss. Susan|female| 32|            27267|    13.0|       S|        124|       1|     2|    0|    0|
|2020-01-01 13:42:33|   Mack, Mrs. (Mary)|female| 57|      S.O./P.P. 3|    10.5|       S|        773|       0|     2|    0|    0|
+-------------------+--------------------+------+---+-----------------+--------+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [24]:
Num_nulls_dropped=df_remove_duplicates.count() - drop_null_df.count()

In [25]:
Num_nulls_dropped

179

In [26]:
drop_col_df=drop_null_df.drop("Pclass","SibSp","Parch")
drop_col_df.show()

+-------------------+--------------------+------+---+-----------------+--------+--------+-----------+--------+
|          Timestamp|                Name|   Sex|Age|           Ticket|    Fare|Embarked|PassengerId|Survived|
+-------------------+--------------------+------+---+-----------------+--------+--------+-----------+--------+
|2020-01-01 13:46:21|"Lovell, Mr. John...|  male| 20|        A/5 21173|    7.25|       S|        228|       0|
|2020-01-01 13:36:37|Cardeza, Mr. Thom...|  male| 36|         PC 17755|512.3292|       C|        680|       1|
|2020-01-01 13:36:29|Alexander, Mr. Wi...|  male| 26|             3474|  7.8875|       S|        811|       0|
|2020-01-01 13:39:42|    Calic, Mr. Petar|  male| 17|           315086|  8.6625|       S|        501|       0|
|2020-01-01 13:32:00|Futrelle, Mrs. Ja...|female| 35|           113803|    53.1|       S|          4|       1|
|2020-01-01 13:34:35|Jansson, Mr. Carl...|  male| 21|           350034|  7.7958|       S|        392|       1|
|2020-01-01 13:30:12|  Richard, Mr. Emile|  male| 23|    SC/PARIS 2133| 15.0458|       C|        136|       0|
|2020-01-01 13:32:38|Goodwin, Master. ...|  male|  1|          CA 2144|    46.9|       S|        387|       0|
|2020-01-01 13:46:16|  Gale, Mr. Shadrach|  male| 34|            28664|    21.0|       S|        406|       0|
|2020-01-01 13:36:12|Kallio, Mr. Nikol...|  male| 17|STON/O 2. 3101274|   7.125|       S|        434|       0|
|2020-01-01 13:32:29|Daly, Mr. Eugene ...|  male| 29|           382651|    7.75|       Q|        511|       1|
|2020-01-01 13:48:27| Moor, Master. Meier|  male|  6|           392096|  12.475|       S|        752|       1|
|2020-01-01 13:42:18|Guggenheim, Mr. B...|  male| 46|         PC 17593|    79.2|       C|        790|       0|
|2020-01-01 13:40:34|Carter, Rev. Erne...|  male| 54|           244252|    26.0|       S|        250|       0|
|2020-01-01 13:36:16|Becker, Miss. Mar...|female|  4|           230136|    39.0|       S|        619|       1|
|2020-01-01 13:39:32|Barbara, Miss. Sa...|female| 18|             2691| 14.4542|       C|        703|       0|
|2020-01-01 13:41:46|   Wells, Miss. Joan|female|  4|            29103|    23.0|       S|        751|       1|
|2020-01-01 13:38:48|Carter, Mrs. Will...|female| 36|           113760|   120.0|       S|        764|       1|
|2020-01-01 13:31:47| Webber, Miss. Susan|female| 32|            27267|    13.0|       S|        124|       1|
|2020-01-01 13:42:33|   Mack, Mrs. (Mary)|female| 57|      S.O./P.P. 3|    10.5|       S|        773|       0|
+-------------------+--------------------+------+---+-----------------+--------+--------+-----------+--------+
only showing top 20 rows

In [27]:
drop_col_df.printSchema()

root
 |-- Timestamp: timestamp (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)

In [36]:
final_dataframe=drop_col_df.withColumn("Age",F.col("Age").cast(T.IntegerType())).withColumn("Fare",F.col("Fare").cast(T.FloatType()))

In [37]:
final_dataframe.printSchema()

root
 |-- Timestamp: timestamp (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: float (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)

In [38]:
final_dataframe.write.json("transformed_data")